.homepage-background{
    position: relative;
    text-align: center;
}
.center-text1 {
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 60px;
}
.center-text2 {
    position: absolute;
    top: 32%;
    left: 13%;
    font-size: 60px;
}
.center-button{
    position: absolute;
    top:42%;
    left:16%;
    font-size: 100px;
}
.checked {
    color: orange;
}
.disabled:disabled {
    opacity: 50%;
}
th:nth-child(even) {
    background: black;
}
a:hover {
    background-color: 0A81D1;
}
a:active {
    background-color: #314CB6;
    border-radius: 5px;
}